---
  Checks: '-*,
                    bugprone-argument-comment,
                    bugprone-assert-side-effect,
                    bugprone-assignment-in-if-condition,
                    bugprone-bad-signal-to-kill-thread,
                    bugprone-bool-pointer-implicit-conversion,
                    bugprone-casting-through-void,
                    bugprone-chained-comparison,
                    bugprone-compare-pointer-to-member-virtual-function,
                    bugprone-copy-constructor-init,
                    bugprone-crtp-constructor-accessibility,
                    bugprone-dangling-handle,
                    bugprone-dynamic-static-initializers,
                    bugprone-fold-init-type,
                    bugprone-forward-declaration-namespace,
                    bugprone-forwarding-reference-overload,
                    bugprone-implicit-widening-of-multiplication-result,
                    bugprone-inaccurate-erase,
                    bugprone-incorrect-*,
                    bugprone-infinite-loop,
                    bugprone-integer-division,
                    bugprone-lambda-function-name,
                    bugprone-macro-repeated-side-effects,
                    bugprone-misplaced-*,
                    bugprone-move-forwarding-reference,
                    bugprone-multi-level-implicit-pointer-conversion,
                    bugprone-multiple-*,
                    bugprone-narrowing-conversions,
                    bugprone-no-escape,
                    bugprone-non-zero-enum-to-bool-conversion,
                    bugprone-not-null-terminated-result,
                    bugprone-optional-value-conversion,
                    bugprone-parent-virtual-call,
                    bugprone-pointer-arithmetic-on-polymorphic-object,
                    bugprone-posix-return,
                    bugprone-redundant-branch-condition,
                    bugprone-reserved-identifier,
                    bugprone-return-const-ref-from-parameter,
                    bugprone-shared-ptr-array-mismatch,
                    bugprone-signal-handler,
                    bugprone-signed-char-misuse,
                    bugprone-sizeof-*,
                    bugprone-spuriously-wake-up-functions,
                    bugprone-standalone-empty,
                    bugprone-string-*,
                    bugprone-stringview-nullptr,
                    bugprone-suspicious-*,
                    bugprone-swapped-arguments,
                    bugprone-terminating-continue,
                    bugprone-throw-keyword-missing,
                    bugprone-too-small-loop-variable,
                    bugprone-undefined-memory-manipulation,
                    bugprone-undelegated-constructor,
                    bugprone-unhandled-*,
                    bugprone-unique-ptr-array-mismatch,
                    bugprone-unsafe-functions,
                    bugprone-unused-*,
                    bugprone-use-after-move,
                    bugprone-virtual-near-miss,
                    cert-dcl50-cpp,
                    cert-dcl58-cpp,
                    cert-env33-c,
                    cert-err34-c,
                    cert-err52-cpp,
                    cert-err60-cpp,
                    cert-flp30-c,
                    cert-mem57-cpp,
                    clang-analyzer-apiModeling.*,
                    clang-analyzer-core.*,
                    clang-analyzer-cplusplus.*,
                    clang-analyzer-deadcode.DeadStores,
                    clang-analyzer-fuchsia.HandleChecker,
                    clang-analyzer-nullability.*,
                    clang-analyzer-optin.*,
                    clang-analyzer-osx.*,
                    clang-analyzer-security.FloatLoopCounter,
                    clang-analyzer-security.PutenvStackArray,
                    clang-analyzer-security.SetgidSetuidOrder,
                    clang-analyzer-security.cert.env.InvalidPtr,
                    clang-analyzer-security.insecureAPI.SecuritySyntaxChecker,
                    clang-analyzer-security.insecureAPI.UncheckedReturn,
                    clang-analyzer-security.insecureAPI.bcmp,
                    clang-analyzer-security.insecureAPI.bcopy,
                    clang-analyzer-security.insecureAPI.bzero,
                    clang-analyzer-security.insecureAPI.decodeValueOfObjCType,
                    clang-analyzer-security.insecureAPI.getpw,
                    clang-analyzer-security.insecureAPI.gets,
                    clang-analyzer-security.insecureAPI.mkstemp,
                    clang-analyzer-security.insecureAPI.mktemp,
                    clang-analyzer-security.insecureAPI.rand,
                    clang-analyzer-security.insecureAPI.strcpy,
                    clang-analyzer-security.insecureAPI.vfork,
                    clang-analyzer-unix.*,
                    clang-analyzer-valist.*,
                    clang-analyzer-webkit.*,
                    concurrency-thread-canceltype-asynchronous,
                    cppcoreguidelines-avoid-capturing-lambda-coroutines,
                    cppcoreguidelines-avoid-c-arrays,
                    cppcoreguidelines-avoid-goto,
                    cppcoreguidelines-avoid-reference-coroutine-parameters,
                    cppcoreguidelines-c-copy-assignment-signature,
                    cppcoreguidelines-explicit-virtual-functions,
                    cppcoreguidelines-interfaces-global-init,
                    cppcoreguidelines-narrowing-conversions,
                    cppcoreguidelines-no-malloc,
                    cppcoreguidelines-no-suspend-with-lock,
                    cppcoreguidelines-owning-memory,
                    cppcoreguidelines-prefer-member-initializer,
                    cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                    cppcoreguidelines-pro-bounds-pointer-arithmetic,
                    cppcoreguidelines-pro-type-const-cast,
                    cppcoreguidelines-pro-type-cstyle-cast,
                    cppcoreguidelines-pro-type-member-init,
                    cppcoreguidelines-pro-type-static-cast-downcast,
                    cppcoreguidelines-pro-type-union-access,
                    cppcoreguidelines-pro-type-vararg,
                    cppcoreguidelines-slicing,
                    cppcoreguidelines-virtual-class-destructor,
                    google-build-explicit-make-pair,
                    google-default-arguments,
                    google-explicit-constructor,
                    hicpp-exception-baseclass,
                    misc-confusable-identifiers,
                    misc-coroutine-hostile-raii,
                    misc-misleading-*,
                    misc-non-copyable-objects,
                    misc-throw-by-value-catch-by-reference,
                    misc-uniqueptr-reset-release,
                    modernize-avoid-*,
                    modernize-concat-nested-namespaces,
                    modernize-deprecated-*,
                    modernize-loop-convert,
                    modernize-macro-to-enum,
                    modernize-make-*,
                    modernize-pass-by-value,
                    modernize-raw-string-literal,
                    modernize-redundant-void-arg,
                    modernize-replace-*,
                    modernize-return-braced-init-list,
                    modernize-shrink-to-fit,
                    modernize-unary-static-assert,
                    modernize-use-auto,
                    modernize-use-bool-literals,
                    modernize-use-default-member-init,
                    modernize-use-emplace,
                    modernize-use-equals-*,
                    modernize-use-nodiscard,
                    modernize-use-noexcept,
                    modernize-use-nullptr,
                    modernize-use-override,
                    modernize-use-transparent-functors,
                    modernize-use-uncaught-exceptions,
                    modernize-use-using,
                    performance-faster-string-find,
                    performance-for-range-copy,
                    performance-inefficient-*,
                    performance-move-constructor-init,
                    performance-noexcept-destructor,
                    performance-noexcept-swap,
                    performance-unnecessary-copy-initialization,
                    portability-restrict-system-includes,
                    portability-std-allocator-const,
                    readability-const-return-type,
                    readability-container-contains,
                    readability-container-size-empty,
                    readability-convert-member-functions-to-static,
                    readability-delete-null-pointer,
                    readability-duplicate-include,
                    readability-else-after-return,
                    readability-inconsistent-declaration-parameter-name,
                    readability-make-member-function-const,
                    readability-misleading-indentation,
                    readability-misplaced-array-index,
                    readability-redundant-*,
                    readability-simplify-subscript-expr,
                    readability-static-definition-in-anonymous-namespace,
                    readability-string-compare,
                    readability-uniqueptr-delete-release,
                    readability-use-*'
